body {
    background: linear-gradient(120deg, #5652c9 0%, #090525 100%);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    margin: 0;
}

.calculator {
    background: rgba(0, 0, 0, 0.571);
    border-radius: 25px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    height: fit-content;
    text-align: center;
}

#display {
    background: #f0f0f0;
    border: none;
    border-radius: 10px;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: right;
    width: 100%;
    height: 50px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    background: #0b4ecb;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: #fad0c4;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

button:active {
    transform: scale(0.95);
}
.head{
    display: block;
  justify-content: center;
  height: 100px;
  width: 1fr;
  text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}